<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.w1936.myapplication" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/a1"
        android:label="系统设置"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"

             >
            <intent-filter
                android:label="MY_First">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
